
body{
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    background-image: url("../images/backgroundimg.jpg");
    background-color: rgb(207, 210, 212);
}

header nav{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 25px 10px;     
}

nav li{
    display: inline;
    position: relative;
    margin: 2%;
}

nav li a{
    color: white;
    text-decoration: none;
    
}

.active a:visited{
    color: #ee1c96;
    font-weight: bolder;
    
}

.skip{
    position: relative;
    left: -500px;
}

h1{
    text-align: center;
    font-size: 2.5em;
    font-style: oblique;
    font-weight: bolder;
    color: #ee1c96;
    animation: mymove 5s; 
    
}

h2{
    font-size: 2em;
    font-weight: bold;
}

p{

    text-align: center; 
    line-height: 1.25em;
}

img{
    border: 3px solid rgb(231, 231, 231);
    padding: 3px;
    margin: 10px;
}

iframe{
    height: 10%;
    width: 25%
}
footer{
    background: rgb(231, 231, 231);
    color: white;
}


.celebimgs img{
    margin: 3px;

}

.cardib img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.special{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.special img{
    border: none;
    height: 200px;
    width:250px;
}

/*Animations - NEED HELP*/
@keyframes mymove {
    from {width: 50%; opacity: 0; color: white;}
    to {width: 50%; opacity: 1; color: #ee1c96;}
  }

@media screen and (prefers-reduced-motion){
    h1{
      animation: none;
    }
  }

/* Grid AND Flex*/
/*Index*/
.hermes{
    display: grid;
    grid-template-rows: 1/ span 5;
    align-items: center;
    justify-content: center;

}

.hermes img, .hermes iframe{
    margin: auto;
}

/* History - NEED TO FIX*/
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history img{
    display: inline-block;
    margin: auto;
}

/* Celeb */
.celebimgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cardib img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Specialty */
.special {
    display: grid;
    grid-template: 1/1/2/2;
    row-gap: 50px;
    justify-content: center;
}

/*Contact Us*/
fieldset{
    display: grid;
    grid-template: 1/ 1/ span 7/ span 1;
    row-gap: 10px;
}

#fname{
    grid: 1/1/2/2;
    margin: auto;
}

#lname{
    grid: 2/1/3/2;
    margin: auto;
}

#email{
    grid: 3/1/4/2;
    margin: auto;
}

#phone{
    grid: 4/1/5/2;
    margin: auto;
}

#message{
    grid: 5/1/6/2;
    margin: auto;
}

#submit{
    grid: 6/1/7/2;
    margin: auto;
}
label, input{
    display: inline-block;
  }

textarea{
    font-family: Arial, Helvetica, sans-serif;
}


/*
Add at least one background image - COMPLETED
Utilize a Google Font - COMPLETED
Contact page that uses a form.  (The form doesn't need to work yet) - COMPLETED
Google analytics - COMPLETED

Add font Awesome icons.  (The footer and/or contact form is a great location.) - INSERTED BUT NOT UTILIZED  
Animation - NEED HELP 

Use flex and grid 

Questions: 
Font Awesome Icon not working
Stop nav bar from adjusting
Tab to main content
Contact Us Footer
Video sizing - responsive design 

Reminder: your content should all still be there! You can add content if you want, but make sure it passes validators. If you did not include the nth child elements before, don't worry about adding them in now. However, you should still have your content in place!
*/

