
body{
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    background-image: url("../images/backgroundimg.jpg");
    background-color: rgb(207, 210, 212);
}

header nav{
    text-align: center;
    background-color: #92919181;
    padding: 25px 10px;     
}

nav li{
    display: inline;
    position: relative;
    margin: 2%;
}

nav li a{
    color: white;
    text-decoration: none;
    
}

.active a:visited{
    color: #a0005d;
    font-weight: bolder;
    
}

.skip{
    position: relative;
    left: -500px;
}

.skip:focus{
    left: 0px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-style: oblique;
    font-weight: bolder;
    color: #a0005d;
    animation: mymove 5s; 
    
}

h2{
    font-size: 2em;
    font-weight: bold;
}

p{
    text-align: center; 
    line-height: 1.25em;
}

img{
    border: 3px solid #92919181;
    padding: 3px;
    margin: 10px;
}

footer{
    background: #92919181;
    color: white;
    width: 100%;
}

.video{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 100px;
  padding-top: 56.25%;
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.celebimgs img{
    margin: 3px;

}

.cardib img{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.special{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.special img{
    height: 200px;
    width:250px;
}

.fa-bag-shopping::before{
    font-weight: 900;
    content: "f290";
}

input{
    display:inline-block;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label{
    display: inline-block;
}
input[type=file]{
    border: none;
}
input[type=submit]{
    background-color: #a0005d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

/*Animations*/
@keyframes mymove {
    from {opacity: 0; color: white; scale: (1,1); font-size: 0em;}
    to {opacity: 1; color: #a0005d; scale: (2,2); font-size: 2em;}
  }

@media screen and (prefers-reduced-motion){
    h1{
      animation: none;
    }
  }



/* Grid AND Flex*/
/*Index*/
.hermesimgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

#stackedbags{
    margin: auto;
    display: flex;
}


/* History - NEED TO FIX*/
.history {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Celeb */
.celebimgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cardib{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Specialty */
.special {
    display: grid;
    grid-template: 1/1/2/2;
    row-gap: 50px;
    justify-content: center;
}

/*Contact Us*/
.contact_main{
    min-height: 450px;
}

fieldset{
    display: grid;
    grid-template: 1/ 1/ span 8/ span 1;
    row-gap: 10px;
}

#fname{
    grid: 1/1/2/2;
    margin: auto;
}

#lname{
    grid: 2/1/3/2;
    margin: auto;
}

#email{
    grid: 3/1/4/2;
    margin: auto;
}

#phone{
    grid: 4/1/5/2;
    margin: auto;
}

#message{
    grid: 5/1/6/2;
    margin: auto;
}

#insert_pic{
    grid: 7/1/8/2;
    margin: auto;
}

#submit{
    grid: 6/1/7/2;
    margin: auto;
}


/*
Add at least one background image - COMPLETED
Utilize a Google Font - COMPLETED
Contact page that uses a form.  (The form doesn't need to work yet) - COMPLETED
Google analytics - COMPLETED
Animation - COMPLETED
Use flex and grid - COMPLETED
Add font Awesome icons - COMPLETED


Questions: 
Font Awesome Icon not working
Footer
Aria labels

*/

